.AuthPage {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 90px 160px 0;
  background-image: url("../../../public/backgroundimg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.AuthPage h3 {
  margin-top: 4vmin;
  text-align: center;
  color: var(--text-light);
  cursor: pointer;
}
